<app-toolbar></app-toolbar>
<div class="full-width flex center-center margin-top">
    <div class="width-80 margin-bottom">
        <mat-stepper #stepper>
            <mat-step>
                <ng-template matStepLabel>HTML and CSS</ng-template>
                <div class="flex center-center wrap gap-2em margin-top">
                    <!-- .........first project......... -->
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>Replication of Online store</mat-card-title>
                                <mat-card-subtitle>Individual : Kearabetswe Maja</mat-card-subtitle>
                                <mat-card-subtitle>Project date : 18 february 2023</mat-card-subtitle>
                                <mat-card-subtitle>Facilitator : Tukiso Mateka</mat-card-subtitle>
                                <img mat-card-md-image src="../../../assets/replicating online store.png"
                                    alt="Image of a Shiba Inu">
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            <p>I replicated an online shopping store using pure html and css as part of practicing
                                basics of html and css</p>
                        </mat-card-content>
                    </mat-card>

                    <!-- ......second project........ -->

                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>TechNo website</mat-card-title>
                                <mat-card-subtitle>Individual : Kearabetswe Maja</mat-card-subtitle>
                                <mat-card-subtitle>Project date : 14 November 2023</mat-card-subtitle>
                                <mat-card-subtitle>Facilitator : Tukiso Mateka</mat-card-subtitle>
                                <img mat-card-md-image src="../../../assets/techNOLOG.png"
                                    alt="Image of a Shiba Inu">
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            <p>I replicated an TechNo website using pure html and css as part of practicing
                                basics of html and css</p>
                        </mat-card-content>
                    </mat-card>

                    <!-- ......third Project.......... -->

                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>Replication of Youtube</mat-card-title>
                                <mat-card-subtitle>Individual : Kearabetswe Maja</mat-card-subtitle>
                                <mat-card-subtitle>Project date : 14 December 2023</mat-card-subtitle>
                                <mat-card-subtitle>Facilitator : Tukiso Mateka</mat-card-subtitle>
                                <img mat-card-md-image src="../../../assets/youtube.png"
                                    alt="Image of a Shiba Inu">
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            <p>I replicated an Replication of Youtube using pure html and css as part of practicing
                                basics of html and css</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>HTML , CSS and JAVASCRIPT</ng-template>
                <div class="flex center-center wrap gap-2em margin-top">
                    <!-- .........first project......... -->
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>Pet Adorption</mat-card-title>
                                <mat-card-subtitle>Individual : Kearabetswe Maja</mat-card-subtitle>
                                <mat-card-subtitle>Project date : 18 December 2023</mat-card-subtitle>
                                <mat-card-subtitle>Facilitator : Tukiso Mateka</mat-card-subtitle>
                                <img mat-card-md-image src="../../../assets/pet-Adoption.png"
                                    alt="Image of a Shiba Inu">
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            <p>I replicated  a Pet Adorption website with pure html,css and javascript for functionalities as part of practicing
                                basics of html,css and javascript</p>
                        </mat-card-content>
                    </mat-card>

                    <!-- ......second project........ -->

                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>Weather APP</mat-card-title>
                                <mat-card-subtitle>Individual : Kearabetswe Maja</mat-card-subtitle>
                                <mat-card-subtitle>Project date : 23 December 2023</mat-card-subtitle>
                                <mat-card-subtitle>Facilitator : Tukiso Mateka</mat-card-subtitle>
                                <img mat-card-md-image src="../../../assets/weatherApp.png"
                                    alt="Image of a Shiba Inu">
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            <p>I created a weather website application using pure html,css and javascript for functionalities as part of practicing
                                basics of html,css ,javascript and API's</p>
                        </mat-card-content>
                    </mat-card>

                    <!-- ......third Project.......... -->

                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>Quizz Game</mat-card-title>
                                <mat-card-subtitle>Individual : Kearabetswe Maja</mat-card-subtitle>
                                <mat-card-subtitle>Project date : 06 December 2023</mat-card-subtitle>
                                <mat-card-subtitle>Facilitator : Tukiso Mateka</mat-card-subtitle>
                                <img mat-card-md-image src="../../../assets/quiz.png"
                                    alt="Image of a Shiba Inu">
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            <p>I built a Quizz Game using pure html and css as part of practicing
                                basics of html and css, and javascript for functionalities</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div>
                    <button mat-button matStepperPrevious class="btn">Back</button>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>ANGULAR,Node.js and MongoDB</ng-template>
                <div class="flex center-center wrap gap-2em margin-top">
                    <!-- .........first project......... -->
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>Todo APP</mat-card-title>
                                <mat-card-subtitle>Individual : Kearabetswe Maja</mat-card-subtitle>
                                <mat-card-subtitle>Project date : 11 January 2024</mat-card-subtitle>
                                <mat-card-subtitle>Facilitator : Tukiso Mateka</mat-card-subtitle>
                                <img mat-card-md-image src="../../../assets/Todo.png"
                                    alt="Image of a Shiba Inu">
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            <p>I built a Todo Application using Angular and angular material as part of practicing
                                 of the basics of angular 15</p>
                        </mat-card-content>
                    </mat-card>

                    <!-- ......second project........ -->

                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>ID details APP</mat-card-title>
                                <mat-card-subtitle>Individual : Kearabetswe Maja</mat-card-subtitle>
                                <mat-card-subtitle>Project date : 09 January 2024</mat-card-subtitle>
                                <mat-card-subtitle>Facilitator : Tukiso Mateka</mat-card-subtitle>
                                <img mat-card-md-image src="../../../assets/play/Identity.png"
                                    alt="Image of a Shiba Inu">
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            <p>I created an application that checks for an ID and give details of that particular person using angular as part of practicing
                            angular 15</p>
                        </mat-card-content>
                    </mat-card>

                    <!-- ......third Project.......... -->

                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>Online Shopping Store</mat-card-title>
                                <mat-card-subtitle>Individual : Kearabetswe Maja</mat-card-subtitle>
                                <mat-card-subtitle>Project date : 03 February 2024</mat-card-subtitle>
                                <mat-card-subtitle>Facilitator : Tukiso Mateka</mat-card-subtitle>
                                <img mat-card-md-image src="../../../assets/online-store.png"
                                    alt="Image of a Shiba Inu">
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            <p>I built an online shopping store using angular and angular material as part of practicing
                                angular , basics of node.js(express) and basics of MongoDB database to store data</p>
                        </mat-card-content>
                    </mat-card>
                    <!-- ............forth project........... -->
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>AfrikkaTikkun Operation System</mat-card-title>
                                <mat-card-subtitle>Individual : Kearabetswe Maja</mat-card-subtitle>
                                <mat-card-subtitle>Project date : 12 February 2024</mat-card-subtitle>
                                <mat-card-subtitle>Facilitator : Tukiso Mateka</mat-card-subtitle>
                                <img mat-card-md-image src="../../../assets/afrikatikkun.png"
                                    alt="Image of a Shiba Inu">
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            <p>I built a Management for System AfrikkaTikkun using angular as part of practicing
                                angular , basics of node.js(express) and basics of MongoDB</p>
                        </mat-card-content>
                    </mat-card>

                    <!-- ...........fith project....... -->
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>My portfolio</mat-card-title>
                                <mat-card-subtitle>Individual : Kearabetswe Maja</mat-card-subtitle>
                                <mat-card-subtitle>Project date : 26 February 2024</mat-card-subtitle>
                                <mat-card-subtitle>Facilitator : Tukiso Mateka</mat-card-subtitle>
                                <img mat-card-md-image class="img-width" src="../../../assets/portfolio.png"
                                    alt="Image of a Shiba Inu">
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            <p>I built my portfolio using angular and angular material as part of practicing
                                angular , basics of node.js(express) and basics of MongoDB database to store data</p>
                        </mat-card-content>
                    </mat-card>

                    <!-- ...........project no 6 -->
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>late report</mat-card-title>
                                <mat-card-subtitle>Group : 15 candidates</mat-card-subtitle>
                                <mat-card-subtitle>Project date : 22 January 2024</mat-card-subtitle>
                                <mat-card-subtitle>Facilitator : Tukiso Mateka</mat-card-subtitle>
                                <img mat-card-md-image src="../../../assets/late-report.png"
                                    alt="Image of a Shiba Inu">
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            <p>we built a late report system using angular and angular material as part of practicing
                                angular , basics of node.js(express) and basics of MongoDB database to store data</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="flex gap-1em">
                    <button mat-button matStepperPrevious class="btn">Back</button>
                    <button mat-button (click)="stepper.reset()" class="btn">first</button>
                </div>
            </mat-step>
        </mat-stepper>

    </div>

</div>

<app-footer></app-footer>