<footer class="footer">
    <div class="container">
        <span class="text-muted spaceAround-center flex social-icons">
            <div>
                <p class="text-start margin-0">&copy;2021 Kearabetswe Maja | &reg; All Rights Reserved</p>
            </div>
           
            <div class="flex gap-2em">
                <a href="https://mail.google.com/mail/u/0/?pli=1#inbox?compose=new" target="_blank"><img class="height-15" matTooltip="send an email" src="../../../assets/gmail_888853.png" alt="gmail"></a>               
                <a href="https://twitter.com/KearabetsweMaja" target="_blank"><img class="height-15" matTooltip="go to my twitter"src="../../../assets/twitter_733579.png" alt="twitter"></a>
                <a href="https://github.com/keabetswe36110" target="_blank"><img class="height-15" matTooltip="go to my github" src="../../../assets/github_2111425.png" alt="github"></a>
                <a href="https://m.facebook.com/people/Kearabetswe-Maja/100009173129102/" target="_blank"><img class="height-15" matTooltip="go to my facebook" src="../../../assets/facebook_733547.png" alt="facebook"></a>
                <a href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile"><img class="height-15" matTooltip="go to my linkedIn" src="../../../assets/linkedin_889122.png" alt="linkedIN"></a>
            </div>

        </span>
    </div>
</footer>