<footer class="footer">
    <div class="container">
        <span class="text-muted spaceAround-center flex social-icons">
            <div>
                <p class="text-start margin-0">&copy;2021 Kearabetswe Maja | &reg; All Rights Reserved</p>
            </div>
           
            <div class="flex gap-2em">
                <img class="height-15" matTooltip="send an email" src="../../../assets/gmail_888853.png" alt="gmail">               
                <img class="height-15" matTooltip="go to my twitter"src="../../../assets/twitter_733579.png" alt="twitter">
                <img class="height-15" matTooltip="go to my github" src="../../../assets/github_2111425.png" alt="github">
                <img class="height-15" matTooltip="go to my facebook" src="../../../assets/facebook_733547.png" alt="facebook">
                <img class="height-15" matTooltip="go to my linkedIn" src="../../../assets/linkedin_889122.png" alt="linkedIN">
            </div>

        </span>
    </div>
</footer>