.main-container{
    height: 100vh;
    width: 100%;
    
}
.top{
    height: 80%;
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
}
.bottom{
    height: 20%;
    background-color: #fff;
}
.inner{
    width: 80%;
    height: 80%;
    background-color: white;
    left: 10%;
    top: 23%;
    border-radius: 12px;
}
.image{
    background-image: url('../../../assets/WhatsApp\ Image\ 2023-11-15\ at\ 09.32.56_bea95273.jpg');
    background-size: cover;
    border-radius: 12px;
}
.width-48{
    width: 46%;
    height: 90%;
}
.content{
    h1,h4{
        margin: 0;
    }
}
mat-icon{
    color: #766dff;
}
// .font-color{
//     color: #777777;
// }
p{
    color: #777777;
}
.height-30{
    height: 20px;
}
// =====================animations============================
// @keyframes slide-left{
//     0%{
//         rotate: (540deg);
//         transform: translateX(1000px);
//         color: red
//     }
//     100%{
//         transform: translateX(0);
//     }
    
// }
// .animate{
//     animation: slide-left 3s ease-in ;
// }
@keyframes slide-right{
    0% {
        rotate: (180deg);
        transform: translateX(-1000px); 
        color: rgb(229, 255, 0)
    }
    100%{
        transform: translateX(0);
    }
    
}
.animated{
    animation: slide-right 2s ease-in ;
}

.height-50{
    height: 150px;
}
marquee{
    height: 300px;
}
.cube{
    max-width: 200px;
    animation: animate 5s linear infinite;
}
@keyframes animate{
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }
}
.text-color-light{
    color: #69ebfa ;
}
.text-color-dark{
    color: #766dff;
}


// responsive 

/* Example of media query for small screens */
@media screen and (max-width: 350px){
    /* Apply styles for small screens */
    .content{

        font-size: xx-small;
    }
  }

@media screen and (min-width: 350px) and (max-width: 630px){
    /* Apply styles for small screens */
    .content{

        font-size: x-small;
    }
  }
@media screen and (min-width: 630px) and (max-width: 940px) {
    /* Apply styles for small screens */
    .content{

        font-size: small;
    }
  }
  
  /* Example of media query for medium screens */
  @media screen and (min-width: 940px) and (max-width: 1023px) {
    .content{

        font-size: medium;
    }
    /* Apply styles for medium screens */
  }
  