<div [ngClass]="{'small-screen-style': isSmallScreen, 'medium-screen-style': isMediumScreen, 'large-screen-style': isLargeScreen}">
    <!-- Content goes here -->
    <div class="main-container relative">
        <app-toolbar></app-toolbar>
        <div class="top">
            <input type="file">
        </div>
        <div class="bottom"></div>
        <div class="inner absolute flex spaceAround-center">
            <div class="image width-48"></div>
            <div class="content half-width width-48 flex center-start column margin-0 gap-05em">
                <h4 class="animated text-color-dark">Hello everyone, I am</h4>
                <h1 class="animate gradient-text">Kearabetswe Maja</h1>
                <h4 class="animated text-color-light">Junior web developer</h4>
                <p class="animate">Development will never die,<br>
                     Making every application extraordinary is what we do. <br>
                     If You Can't Beat web developers, Join web development.</p>
                
                <div class="flex center-center gap-1em animate"><mat-icon>event</mat-icon><p>15 November 1996</p></div>
                <div class="flex center-center gap-1em animated"><mat-icon>phone</mat-icon><p>069 364 3640</p></div>
                <div class="flex center-center gap-1em animate"><mat-icon >mail</mat-icon><p>keabetswe36110@gmail.com</p></div>
                <div class="flex center-center gap-1em animated"><mat-icon>home</mat-icon><p>4 senegal cosmo city ext 6 2188 </p></div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
    
  </div>
  
