.example-input-wrapper {
    margin-bottom: 16px;
  }
  
  label {
    margin-right: 4px;
  }
  .margin-top{
    margin-top: 100px;
  }
  .example-card {
    max-width: 100%;
  }
  .margin-bottom{
    margin-bottom: 100px;
  }
  mat-card:hover{
    border: 3px solid gray;
}
.gradient-text {
  background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%); /* Define your gradient colors */
  -webkit-background-clip: text; /* Clip the gradient to the text */
  color: transparent; /* Make the text transparent */
}
mat-card{
  p{
    color: #514f77;
  }
}
.height-20{
  height: 20px;
}

// responsive 

/* Example of media query for small screens */
@media screen and (max-width: 350px){
  /* Apply styles for small screens */
  .education{

      font-size: xx-small;
  }
}

@media screen and (min-width: 350px) and (max-width: 630px){
  /* Apply styles for small screens */
  .education{

      font-size: x-small;
  }
}
@media screen and (min-width: 630px) and (max-width: 940px) {
  /* Apply styles for small screens */
  .education{

      font-size: small;
  }
}

/* Example of media query for medium screens */
@media screen and (min-width: 940px) and (max-width: 1023px) {
  .education{

      font-size: medium;
  }
  /* Apply styles for medium screens */
}
