/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// flex
.flex{
    display: flex;
}
.center-center{
    justify-content: center;
    align-items: center;
}
.spacebetween-center{
    justify-content: space-between;
    align-items: center;
}
.column{
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}
.spaceAround-center{
    justify-content: space-around;
    align-items: center;
}
.center-start{
    justify-content: center;
    align-items: flex-start;
}
.center-end{
    justify-content: end;
    align-items: center;
}
.baseline{
    align-items: baseline;
}


// sizes
.full-width{
    width: 100%;
}
.full-height{
    height: 100%;
}
.half-width{
    width: 50%;
}
.width-80{
    width: 80%;
}


// gaps
.gap-1em{
    gap: 1em;
}
.gap-05em{
    gap: 0.5em;
}
.gap-2em{
    gap: 2em;
}

// positioning
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}

// no margin
.margin-0{
    margin: 0;
}

.div.mat-progress-bar-primary.mat-progress-bar-fill.mat-progress-bar-element::after{
    background-color: green;
}

// fonts
.text-start{
    text-align: start;
}
.text-center{
    text-align: center;
}
.text-color{
    color: #7fabff;
}
.gradient-text {
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%); /* Define your gradient colors */
    -webkit-background-clip: text; /* Clip the gradient to the text */
    color: transparent; /* Make the text transparent */
  }